<div class="btn-group" role="group" aria-label="">
  <button type="button" class="btn btn-primary" (click)="onGetOrders()">Refresh</button>
  <!-- <button type="button" class="btn btn-primary" (click)="onGetOrder()" >Get order</button> -->
  <button type="button" class="btn btn-primary" (click)="onCreateOrder()">Add</button>
</div>

<table class="table table-sm table-striped table-bordered table-hover mt-2">
  <thead>
    <tr>
      <th scope="col">Id</th>
      <th scope="col" class="text-right">Date</th>
      <th scope="col">Name</th>
      <th scope="col" class="text-right">Amount</th>
      <th scope="col">Items</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let order of (orders$ | async)">
      <th scope="row">{{ order.id }}</th>
      <td class="text-right">{{ order.date | date:'shortDate' }}</td>
      <td>{{ order.name }}</td>
      <td class="text-right">{{ order.totalAmount | number:'1.2-2' }}</td>
      <td>
        <ol>
          <li *ngFor="let item of order.items">
            {{ item.quantity | number:'1.0-2'}} x {{ item.product.description}}
            ({{ item.product.price | number:'1.1-2'}})
          </li>
        </ol>
      </td>
    </tr>
  </tbody>
</table>

{{ (orders$ | async) | json}}
