<h2>Warehouses' current state</h2>
<div class="btn-toolbar mb-2 float-right" role="toolbar">
	<div class="btn-group mr-2" role="group" aria-label="">
		<button type="button" class="btn btn-primary" (click)="onGetWarehouses()">Refresh</button>
	</div>
	<div class="btn-group" role="group" aria-label="">
		<button type="button" class="btn btn-primary" (click)="onCreateWarehouse()">Add</button>
	</div>
</div>

<table class="table table-sm table-bordered mt-2">
	<thead>
		<tr>
			<th scope="col" class="text-right">Code</th>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col" class="text-right">Created at</th>
			<th scope="col"></th>
		</tr>
	</thead>
	<tbody>
		<ng-container *ngFor="let warehouse of (warehouses$ | async)">
			<tr>
				<th scope="row" class="text-right">{{ warehouse.code }}</th>
				<td>{{ warehouse.name }}</td>
				<td>{{ warehouse.description }}</td>
				<td class="text-right">{{ warehouse.creationDate | date:'shortDate' }}</td>
				<td class="text-right">
					<button type="button" class="btn btn-primary" (click)="onGetInventory(warehouse.id)">Show inventory
						state</button>

					<!-- {{ warehouse | json }} -->
				</td>
			</tr>
			<tr *ngIf="warehouse.inventory.productsStocks.length > 0">
				<td></td>
				<td colspan="4">
					<h3>Current inventory state</h3>
					<table class="table table-bordered m-0">
						<thead>
							<tr>
								<th scope="col">Product</th>
								<th scope="col">Description</th>
								<th scope="col" class="text-right">Active</th>
								<th scope="col" class="text-right">Current stock qty</th>
								<th scope="col" class="text-right">Safety stock qty</th>
								<th scope="col" class="text-right">Booked qty</th>
								<th scope="col" class="text-right">State</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let stock of warehouse.inventory.productsStocks">
								<td>{{ stock.product.code }}</td>
								<td>{{ stock.product.description }}</td>
								<td class="text-center">{{ stock.active ? 'x' : '' }}</td>
								<td class="text-right">{{ stock.currentStockQuantity | number:'1.0-2' }}</td>
								<td class="text-right">{{ stock.safetyStockQuantity | number:'1.0-2' }}</td>
								<td class="text-right">{{ stock.bookedQuantity | number:'1.0-2' }}</td>
								<td>{{ stock.stateDescription }}</td>
							</tr>
						</tbody>
					</table>
				</td>
			</tr>
		</ng-container>
	</tbody>
</table>
