<div class="modal-header">
    <h4 class="modal-title">{{ data?.title }}</h4>
    <button type="button" class="close" aria-label="Lukk" (click)="dismiss()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

<div class="modal-body">

    <div class="row">
        <div class="col-2">
            <i class="fa fa-fw fa-question-circle fa-4x text-info"></i>
        </div>
        <div class="col">
            <p [innerHTML]="data?.body"></p>

            <!-- (optional) confirmation checkbox -->
            <form [formGroup]="form" (ngSubmit)="confirm()" [class.has-error]="form.invalid" *ngIf="data.requireConfirmation">
                <div class="form-group">
                    <input class="form-check-input" id="confirmation" formControlName="confirmation" type="checkbox">
                    <label class="form-check-label" for="confirmation">Jeg bekrefter at jeg vil fortsette</label>

                    <p *ngIf="form?.touched && confirmation?.invalid" class="help-block invalid-feedback">Du
                        må bekrefte valget ditt før du kan fortsette</p>
                </div>
            </form>

        </div>
        <div class="col-2">
        </div>

    </div>

</div>
<div class="modal-footer">
    <button type="button" class="btn btn-sm btn-primary btn-modal" (click)="confirm()">OK</button>
    <button type="button" class="btn btn-sm btn-secondary btn-modal" (click)="dismiss()">Avbryt</button>
</div>
